@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4 border-bottom">Welcome To The BookList</h1>
</div>
<!--New Bootstrap Classes: border-bottom, table-striped, table-hover, bg-info -->
<div>
    <table class="table table-striped table-hover">
        <thead class="bg-info">
            <tr>
                <th scope="col">ISNB</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Classification</th>
                <th scope="col">Category</th>
                <th scope="col">Publisher</th>
                <th scope="col">Price</th>
                <th scope="col">Pages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Books)
            {
                <tr>
                    <th scope="row">@b.ISBN</th>
                    <td>@b.Title</td>
                    <td>@b.AuthorFirstName @b.AuthorLastName</td>
                    <td>@b.Classification</td>
                    <td>@b.Category</td>
                    <td>@b.Publisher</td>
                    <td>$@b.Price</td>
                    <td>@b.NumPages</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!--Uses the tag helpers to create dynamic CSS for the page numbers-->
<div page-model="@Model.PagingInfo" page-action="Index"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

